<!DOCTYPE html>
<html lang="" class="test">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body >
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body >
  <style>
      .test{
          width:100%;
          height: 100%;
          background: #afe8bb;
          /*background-image: linear-gradient(to bottom right, #01e0c8, #0180a3);                  !*默认是从上到下的渐变*!*/
          /*background-image: linear-gradient(to top, black, red);*/      /*从下到上的渐变*/
          /*background-image: linear-gradient(to right, black, red);*/    /*从左到右的渐变*/
          /*background-image: linear-gradient(to left, black, red);*/     /*从右到左的渐变*/
      }

  </style>

</html>
